@model IEnumerable<ResultsDMEC>
@{
    ViewData["Title"] = "Formula Drift Results";
}
<h2>DMEC Driver Standings 2023</h2>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Drifter
        </th>
        <th>
            R1 
        </th>
        <th>
            R2 
        </th>
        <th>
            R3 
        </th>
        <th>
            R4 
        </th>
        <th>
            R5 
        </th>
        <th>
            R6 
        </th>
        <th>
            Total
        </th>
    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td>
                @obj.Place

            </td>
            <td>
                <a>@obj.Name</a>
            </td>
            <td>
                @obj.R1
            </td>
            <td>
                @obj.R2
            </td>
            <td>
                @obj.R3
            </td>
            <td>
                @obj.R4
            </td>
            <td>
                @obj.R5
            </td>
            <td>
                @obj.R6
            </td>
            @*            <td>
        @obj.R8;
        </td>*@
            <td>
                @obj.AllPoints
            </td>

        </tr>
    }
</table>
