@model IEnumerable<ResultsRDS>
@{
    ViewData["Title"] = "RDS";
}
<h2>Russian Drift Series 2023 Results</h2>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Drifter
        </th>
        <th>
            Этап I
            Москва/MRW
        </th>
        <th>
            Этап II
            Нижний Новгород/NRing
        </th>
        <th>
            Этап III
            Санкт-Петербург / Igora Drive
        </th>
        <th>
            Этап IV
            Москва / ADM
        </th>
        <th>
            Этап V
            Красноярск / Red Ring
        </th>
@*        <th>
            R6 Monroe
        </th>
        <th>
            R7 Utah
        </th>*@
        @*        <th>
        R8 Irwindale
        </th>*@
        <th>
            Total
        </th>
    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td>
                @obj.Place
            </td>
            <td>
                <a href="@obj.ProfileUrl">@obj.Name</a>
                
            </td>
            <td>
                @obj.R1
            </td>
            <td>
                @obj.R2
            </td>
            <td>
                @obj.R3
            </td>
            <td>
                @obj.R4
            </td>
            <td>
                @obj.R5
            </td>
@*            <td>
                @obj.R6
            </td>
            <td>
                @obj.R7
            </td>*@
            @*            <td>
        @obj.R8;
        </td>*@
            <td>
                @obj.AllPoints
            </td>

        </tr>
    }
</table>